In [1]:
# Q1) Import the customer data into python.

In [3]:
import os
import pandas as pd
import numpy as np

In [4]:
os.getcwd()
os.chdir("C:/Users/Toshiba/Desktop/AnalytixLabs/AnalytixLabs - Python/Python Case Study - Questions/Python Case Study - 1 files/")
os.getcwd()
Customers = pd.read_csv("Customers.csv")

In [4]:
type(Customers)

pandas.core.frame.DataFrame

In [5]:
Customers

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed
0,129609144,M,20130130,West,Gujarat,Surat,20130216,West,Gujarat,Surat,2032.00000,2,200.0,0.0
1,129627580,M,20130129,North,Delhi,Delhi,20130129,North,Delhi,Delhi,1709.00000,1,100.0,0.0
2,130363481,M,20130221,West,Gujarat,Surat,20130221,West,Gujarat,Surat,523.00000,1,10.0,0.0
3,49817480,M,20130222,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,5132.00000,1,170.0,0.0
4,126343829,F,20130301,North,Delhi,Delhi,20130301,North,Delhi,Delhi,1008.00000,1,60.0,0.0
5,8223758,F,20130314,West,Gujarat,Surat,20130314,West,Gujarat,Surat,2606.90000,1,1140.0,0.0
6,131816709,M,20130318,South,Andhra Pradesh,Visakhapatnam,20130318,South,Andhra Pradesh,Visakhapatnam,1369.00000,1,79.0,0.0
7,118543320,F,20130321,North,Uttar Pradesh,Kanpur,20130321,North,Uttar Pradesh,Kanpur,5690.00000,1,360.0,0.0
8,131365512,M,20130323,East,West Bengal,Kolkata,20130331,East,West Bengal,Kolkata,2555.00000,2,190.0,0.0
9,758571,M,20130324,South,Karnataka,Bangalore,20130325,West,Maharashtra,Thane,2677.80000,3,145.0,0.0
10,85489184,M,20120101,West,Maharashtra,Nagpur,20120101,West,Maharashtra,Nagpur,855.00000,1,35.0,0.0
11,85438231,M,20120103,West,Maharashtra,Mumbai,20121111,East,West Bengal,Bhatpara,5969.00000,5,294.0,0.0
12,74053888,F,20120102,West,Gujarat,Surat,20130314,West,Gujarat,Surat,9142.49700,10,639.0,2.0
13,7256956,M,20120102,North,Rajasthan,Jaipur,20121126,North,Rajasthan,Jaipur,8019.60000,5,609.0,0.0
14,1610085,F,20120103,North,Delhi,Delhi,20121013,North,Delhi,Delhi,10380.19900,6,1189.0,0.0
15,7518872,M,20120104,North,Uttar Pradesh,Kanpur,20130123,North,Uttar Pradesh,Kanpur,14587.00000,6,865.0,0.0
16,8638553,M,20120103,West,Gujarat,Ahmedabad,20120103,West,Gujarat,Ahmedabad,1011.00000,1,115.0,0.0
17,85438392,M,20120103,West,Gujarat,Ahmedabad,20130212,South,Telangana,Hyderabad,6065.30000,5,485.0,0.0
18,63508964,M,20120106,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,145472.70200,36,680.0,16635.0
19,23667984,F,20120107,West,Maharashtra,Nagpur,20130313,West,Maharashtra,Nagpur,19640.70000,12,268.0,2549.0
20,84634600,M,20120108,South,Karnataka,Bangalore,20130307,South,Karnataka,Bangalore,32377.60200,22,1029.0,1771.0
21,85207999,M,20120110,South,Andhra Pradesh,Visakhapatnam,20121229,South,Andhra Pradesh,Visakhapatnam,17202.40000,13,449.0,0.0
22,86066230,M,20120111,West,Gujarat,Vadodara,20120111,West,Gujarat,Vadodara,900.50000,1,100.0,0.0
23,6888521,M,20120112,West,Maharashtra,Thane,20121210,West,Maharashtra,Pimpri-Chinchwad,4588.99900,4,190.0,0.0
24,87030390,M,20120111,East,West Bengal,Kolkata,20130302,East,West Bengal,Kolkata,33047.00400,31,141.0,2214.0
25,85645488,M,20120111,North,Madhya Pradesh,Bhopal,20120111,North,Madhya Pradesh,Bhopal,878.00000,1,80.0,0.0
26,12935950,M,20120113,West,Gujarat,Surat,20120623,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0
27,10954886,F,20120115,North,Madhya Pradesh,Indore,20130118,North,Madhya Pradesh,Indore,15426.39800,13,1672.0,0.0
28,84437746,M,20120115,East,West Bengal,Kolkata,20130222,South,Karnataka,Bangalore,5415.00100,6,736.0,0.0
29,7514232,M,20120114,North,Delhi,Delhi,20130108,North,Delhi,Delhi,51692.99900,29,4275.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,5599557,F,20120115,West,Gujarat,Rajkot,20130330,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0
9971,7956527,F,20120115,North,Delhi,Delhi,20130222,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0
9972,10184222,M,20120116,North,Uttar Pradesh,Kanpur,20121014,North,Uttar Pradesh,Kanpur,2031.00100,2,215.0,0.0
9973,88092811,M,20120116,West,Gujarat,Surat,20130222,West,Gujarat,Surat,14786.60000,12,337.0,300.0
9974,84750517,F,20120119,West,Gujarat,Surat,20130319,West,Gujarat,Surat,20696.90000,11,1935.0,0.0
9975,5686217,M,20120118,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.09900,11,915.0,0.0
9976,63669926,M,20120118,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0
9977,90964885,M,20120121,West,Gujarat,Surat,20120121,West,Gujarat,Surat,198.00000,1,0.0,0.0
9978,87989417,M,20120127,West,Gujarat,Surat,20120127,West,Gujarat,Surat,929.99900,1,50.0,0.0
9979,6005239,M,20120129,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0
9980,91066310,M,20120130,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0
9981,414338,M,20120131,West,Gujarat,Surat,20120131,West,Gujarat,Surat,1080.00000,1,0.0,0.0
9982,9144258,M,20120130,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0
9983,91076263,F,20120130,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0
9984,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0
9985,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0
9986,69453769,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,480.00000,1,10.0,580.0
9987,7060195,M,20120202,West,Gujarat,Ahmedabad,20130328,West,Gujarat,Ahmedabad,6693.20000,3,645.0,0.0
9988,91095093,M,20120201,South,Telangana,Hyderabad,20120201,South,Telangana,Hyderabad,825.99700,1,55.0,0.0
9989,91098168,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,408.00000,1,0.0,0.0
9990,91227615,M,20120203,West,Gujarat,Surat,20120203,West,Gujarat,Surat,617.00000,1,35.0,0.0
9991,91136028,M,20120203,West,Maharashtra,Mumbai,20120523,South,Karnataka,Bangalore,4383.80100,5,10.0,370.0
9992,794622,F,20120203,West,Gujarat,Surat,20120508,West,Gujarat,Surat,8081.00000,4,594.0,0.0
9993,91289992,M,20120205,West,Maharashtra,Pimpri-Chinchwad,20120205,West,Maharashtra,Pimpri-Chinchwad,1069.00000,1,81.0,0.0
9994,73876936,M,20120205,West,Gujarat,Surat,20130218,West,Gujarat,Surat,8059.59900,5,647.0,0.0
9995,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0
9996,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0
9997,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0
9998,69606859,M,20120215,North,Uttar Pradesh,Lucknow,20120215,North,Uttar Pradesh,Lucknow,1116.00000,1,0.0,310.0
9999,113292109,M,20120217,West,Maharashtra,Mumbai,20120217,West,Maharashtra,Mumbai,1222.00000,1,60.0,0.0

In [6]:
# Q2) Understand the data using different functions and attributes like 
#     shape, index, columns, dtypes.ndim, info(), get_dtype_counts etc.

In [7]:
Customers.shape

(10000, 14)

In [8]:
Customers.columns

Index([u'Customer_ID', u'Gender', u'First_Date', u'First_region',
       u'First_state', u'First_city', u'Recent_Date', u'Last_region',
       u'Last_state', u'Last_city', u'Customer_Value', u'Buy_Times',
       u'Points_Earned', u'Points_Redeemed'],
      dtype='object')

In [9]:
Customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
Customer_ID        10000 non-null int64
Gender             9986 non-null object
First_Date         10000 non-null int64
First_region       9979 non-null object
First_state        9983 non-null object
First_city         10000 non-null object
Recent_Date        10000 non-null int64
Last_region        10000 non-null object
Last_state         10000 non-null object
Last_city          10000 non-null object
Customer_Value     9964 non-null float64
Buy_Times          10000 non-null int64
Points_Earned      9979 non-null float64
Points_Redeemed    9988 non-null float64
dtypes: float64(3), int64(4), object(7)
memory usage: 1.1+ MB

In [10]:
Customers.get_dtype_counts()

float64    3
int64      4
object     7
dtype: int64

In [11]:
Customers.ndim

2

In [12]:
Customers.size

140000

In [13]:
Customers.dtypes

Customer_ID          int64
Gender              object
First_Date           int64
First_region        object
First_state         object
First_city          object
Recent_Date          int64
Last_region         object
Last_state          object
Last_city           object
Customer_Value     float64
Buy_Times            int64
Points_Earned      float64
Points_Redeemed    float64
dtype: object

In [14]:
Customers.count()

Customer_ID        10000
Gender              9986
First_Date         10000
First_region        9979
First_state         9983
First_city         10000
Recent_Date        10000
Last_region        10000
Last_state         10000
Last_city          10000
Customer_Value      9964
Buy_Times          10000
Points_Earned       9979
Points_Redeemed     9988
dtype: int64

In [16]:
Customers.head(5)

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed
0,129609144,M,20130130,West,Gujarat,Surat,20130216,West,Gujarat,Surat,2032.0,2,200.0,0.0
1,129627580,M,20130129,North,Delhi,Delhi,20130129,North,Delhi,Delhi,1709.0,1,100.0,0.0
2,130363481,M,20130221,West,Gujarat,Surat,20130221,West,Gujarat,Surat,523.0,1,10.0,0.0
3,49817480,M,20130222,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,5132.0,1,170.0,0.0
4,126343829,F,20130301,North,Delhi,Delhi,20130301,North,Delhi,Delhi,1008.0,1,60.0,0.0

In [15]:
Customers.memory_usage()

Index                 72
Customer_ID        80000
Gender             80000
First_Date         80000
First_region       80000
First_state        80000
First_city         80000
Recent_Date        80000
Last_region        80000
Last_state         80000
Last_city          80000
Customer_Value     80000
Buy_Times          80000
Points_Earned      80000
Points_Redeemed    80000
dtype: int64

In [17]:
Customers.describe()

,Customer_ID,First_Date,Recent_Date,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed
count,1.000000e+04,1.000000e+04,1.000000e+04,9.964000e+03,10000.000000,9979.000000,9.988000e+03
mean,8.347904e+07,2.012199e+07,2.012537e+07,1.254489e+04,5.477600,529.355747,5.822111e+02
std,4.802529e+07,3.424373e+03,4.744995e+03,6.546771e+04,11.677831,1861.315677,1.521278e+04
min,5.850000e+02,2.012010e+07,2.012010e+07,0.000000e+00,1.000000,0.000000,0.000000e+00
25%,3.617353e+07,2.012023e+07,2.012082e+07,1.484500e+03,1.000000,65.000000,0.000000e+00
50%,1.146933e+08,2.012070e+07,2.012122e+07,3.960001e+03,2.000000,195.000000,0.000000e+00
75%,1.216234e+08,2.012111e+07,2.013030e+07,1.113600e+04,6.000000,535.000000,0.000000e+00
max,1.324735e+08,2.013033e+07,2.013033e+07,5.098715e+06,586.000000,142030.000000,1.387520e+06

In [18]:
# Q3) What is the percentage of missing values for Customer Value variable?

In [19]:
Missing_Values = Customers.Customer_Value

In [20]:
Percentage_Missing_Values = sum(Missing_Values.isnull())/float(Customers.shape[0]) * 100

In [21]:
Percentage_Missing_Values

0.36

In [22]:
# Q4) Create two subsets with unique and duplicate values.

In [23]:
Unique_Values = Customers.drop_duplicates()

In [24]:
Unique_Values

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed
0,129609144,M,20130130,West,Gujarat,Surat,20130216,West,Gujarat,Surat,2032.00000,2,200.0,0.0
1,129627580,M,20130129,North,Delhi,Delhi,20130129,North,Delhi,Delhi,1709.00000,1,100.0,0.0
2,130363481,M,20130221,West,Gujarat,Surat,20130221,West,Gujarat,Surat,523.00000,1,10.0,0.0
3,49817480,M,20130222,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,5132.00000,1,170.0,0.0
4,126343829,F,20130301,North,Delhi,Delhi,20130301,North,Delhi,Delhi,1008.00000,1,60.0,0.0
5,8223758,F,20130314,West,Gujarat,Surat,20130314,West,Gujarat,Surat,2606.90000,1,1140.0,0.0
6,131816709,M,20130318,South,Andhra Pradesh,Visakhapatnam,20130318,South,Andhra Pradesh,Visakhapatnam,1369.00000,1,79.0,0.0
7,118543320,F,20130321,North,Uttar Pradesh,Kanpur,20130321,North,Uttar Pradesh,Kanpur,5690.00000,1,360.0,0.0
8,131365512,M,20130323,East,West Bengal,Kolkata,20130331,East,West Bengal,Kolkata,2555.00000,2,190.0,0.0
9,758571,M,20130324,South,Karnataka,Bangalore,20130325,West,Maharashtra,Thane,2677.80000,3,145.0,0.0
10,85489184,M,20120101,West,Maharashtra,Nagpur,20120101,West,Maharashtra,Nagpur,855.00000,1,35.0,0.0
11,85438231,M,20120103,West,Maharashtra,Mumbai,20121111,East,West Bengal,Bhatpara,5969.00000,5,294.0,0.0
12,74053888,F,20120102,West,Gujarat,Surat,20130314,West,Gujarat,Surat,9142.49700,10,639.0,2.0
13,7256956,M,20120102,North,Rajasthan,Jaipur,20121126,North,Rajasthan,Jaipur,8019.60000,5,609.0,0.0
14,1610085,F,20120103,North,Delhi,Delhi,20121013,North,Delhi,Delhi,10380.19900,6,1189.0,0.0
15,7518872,M,20120104,North,Uttar Pradesh,Kanpur,20130123,North,Uttar Pradesh,Kanpur,14587.00000,6,865.0,0.0
16,8638553,M,20120103,West,Gujarat,Ahmedabad,20120103,West,Gujarat,Ahmedabad,1011.00000,1,115.0,0.0
17,85438392,M,20120103,West,Gujarat,Ahmedabad,20130212,South,Telangana,Hyderabad,6065.30000,5,485.0,0.0
18,63508964,M,20120106,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,145472.70200,36,680.0,16635.0
19,23667984,F,20120107,West,Maharashtra,Nagpur,20130313,West,Maharashtra,Nagpur,19640.70000,12,268.0,2549.0
20,84634600,M,20120108,South,Karnataka,Bangalore,20130307,South,Karnataka,Bangalore,32377.60200,22,1029.0,1771.0
21,85207999,M,20120110,South,Andhra Pradesh,Visakhapatnam,20121229,South,Andhra Pradesh,Visakhapatnam,17202.40000,13,449.0,0.0
22,86066230,M,20120111,West,Gujarat,Vadodara,20120111,West,Gujarat,Vadodara,900.50000,1,100.0,0.0
23,6888521,M,20120112,West,Maharashtra,Thane,20121210,West,Maharashtra,Pimpri-Chinchwad,4588.99900,4,190.0,0.0
24,87030390,M,20120111,East,West Bengal,Kolkata,20130302,East,West Bengal,Kolkata,33047.00400,31,141.0,2214.0
25,85645488,M,20120111,North,Madhya Pradesh,Bhopal,20120111,North,Madhya Pradesh,Bhopal,878.00000,1,80.0,0.0
26,12935950,M,20120113,West,Gujarat,Surat,20120623,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0
27,10954886,F,20120115,North,Madhya Pradesh,Indore,20130118,North,Madhya Pradesh,Indore,15426.39800,13,1672.0,0.0
28,84437746,M,20120115,East,West Bengal,Kolkata,20130222,South,Karnataka,Bangalore,5415.00100,6,736.0,0.0
29,7514232,M,20120114,North,Delhi,Delhi,20130108,North,Delhi,Delhi,51692.99900,29,4275.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9943,91066310,M,20120130,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0
9944,414338,M,20120131,West,Gujarat,Surat,20120131,West,Gujarat,Surat,1080.00000,1,0.0,0.0
9945,9144258,M,20120130,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0
9946,91076263,F,20120130,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0
9947,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0
9948,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0
9949,69453769,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,480.00000,1,10.0,580.0
9950,7060195,M,20120202,West,Gujarat,Ahmedabad,20130328,West,Gujarat,Ahmedabad,6693.20000,3,645.0,0.0
9951,91095093,M,20120201,South,Telangana,Hyderabad,20120201,South,Telangana,Hyderabad,825.99700,1,55.0,0.0
9952,91098168,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,408.00000,1,0.0,0.0
9953,91227615,M,20120203,West,Gujarat,Surat,20120203,West,Gujarat,Surat,617.00000,1,35.0,0.0
9954,91136028,M,20120203,West,Maharashtra,Mumbai,20120523,South,Karnataka,Bangalore,4383.80100,5,10.0,370.0
9955,794622,F,20120203,West,Gujarat,Surat,20120508,West,Gujarat,Surat,8081.00000,4,594.0,0.0
9956,91289992,M,20120205,West,Maharashtra,Pimpri-Chinchwad,20120205,West,Maharashtra,Pimpri-Chinchwad,1069.00000,1,81.0,0.0
9957,73876936,M,20120205,West,Gujarat,Surat,20130218,West,Gujarat,Surat,8059.59900,5,647.0,0.0
9958,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0
9959,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0
9960,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0
9961,69606859,M,20120215,North,Uttar Pradesh,Lucknow,20120215,North,Uttar Pradesh,Lucknow,1116.00000,1,0.0,310.0
9962,113292109,M,20120217,West,Maharashtra,Mumbai,20120217,West,Maharashtra,Mumbai,1222.00000,1,60.0,0.0
9963,5989720,F,20120109,North,Uttar Pradesh,Lucknow,20130221,North,Uttar Pradesh,Lucknow,5408.80000,3,375.0,0.0
9964,74054076,F,20120110,North,Uttar Pradesh,Kanpur,20121117,North,Uttar Pradesh,Kanpur,13485.10100,10,166.0,810.0
9965,86103480,M,20120112,West,Maharashtra,Mumbai,20120112,West,Maharashtra,Mumbai,408.00000,1,0.0,0.0
9966,63594593,M,20120112,East,West Bengal,Siliguri,20130204,East,West Bengal,Siliguri,10379.00000,4,495.0,0.0
9967,87998623,M,20120112,East,West Bengal,Durgapur,20130228,North,Uttar Pradesh,Kanpur,24378.00000,9,1506.0,0.0
9968,60082781,M,20120115,North,Haryana,Gurgaon,20120220,North,Uttar Pradesh,Ghaziabad,3281.90100,4,335.0,100.0
9969,88068705,M,20120116,West,Gujarat,Surat,20120704,West,Gujarat,Surat,10996.00000,3,680.0,0.0
9970,5599557,F,20120115,West,Gujarat,Rajkot,20130330,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0
9971,7956527,F,20120115,North,Delhi,Delhi,20130222,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0
9972,10184222,M,20120116,North,Uttar Pradesh,Kanpur,20121014,North,Uttar Pradesh,Kanpur,2031.00100,2,215.0,0.0

In [25]:
Unique_Values.shape

(9973, 14)

In [26]:
Duplicate_Values = Customers[Customers.duplicated()]

In [27]:
Duplicate_Values

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed
9973,88092811,M,20120116,West,Gujarat,Surat,20130222,West,Gujarat,Surat,14786.600,12,337.0,300.0
9974,84750517,F,20120119,West,Gujarat,Surat,20130319,West,Gujarat,Surat,20696.900,11,1935.0,0.0
9975,5686217,M,20120118,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.099,11,915.0,0.0
9976,63669926,M,20120118,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.000,4,1030.0,0.0
9977,90964885,M,20120121,West,Gujarat,Surat,20120121,West,Gujarat,Surat,198.000,1,0.0,0.0
9978,87989417,M,20120127,West,Gujarat,Surat,20120127,West,Gujarat,Surat,929.999,1,50.0,0.0
9979,6005239,M,20120129,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.800,6,600.0,0.0
9980,91066310,M,20120130,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.000,10,475.0,0.0
9981,414338,M,20120131,West,Gujarat,Surat,20120131,West,Gujarat,Surat,1080.000,1,0.0,0.0
9982,9144258,M,20120130,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.099,23,4441.0,0.0
9983,91076263,F,20120130,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.901,14,1591.0,0.0
9984,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.300,9,1555.0,0.0
9985,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.500,23,4317.0,0.0
9986,69453769,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,480.000,1,10.0,580.0
9987,7060195,M,20120202,West,Gujarat,Ahmedabad,20130328,West,Gujarat,Ahmedabad,6693.200,3,645.0,0.0
9988,91095093,M,20120201,South,Telangana,Hyderabad,20120201,South,Telangana,Hyderabad,825.997,1,55.0,0.0
9989,91098168,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,408.000,1,0.0,0.0
9990,91227615,M,20120203,West,Gujarat,Surat,20120203,West,Gujarat,Surat,617.000,1,35.0,0.0
9991,91136028,M,20120203,West,Maharashtra,Mumbai,20120523,South,Karnataka,Bangalore,4383.801,5,10.0,370.0
9992,794622,F,20120203,West,Gujarat,Surat,20120508,West,Gujarat,Surat,8081.000,4,594.0,0.0
9993,91289992,M,20120205,West,Maharashtra,Pimpri-Chinchwad,20120205,West,Maharashtra,Pimpri-Chinchwad,1069.000,1,81.0,0.0
9994,73876936,M,20120205,West,Gujarat,Surat,20130218,West,Gujarat,Surat,8059.599,5,647.0,0.0
9995,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.600,7,1195.0,1800.0
9996,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.500,7,870.0,0.0
9997,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.900,11,2242.0,585.0
9998,69606859,M,20120215,North,Uttar Pradesh,Lucknow,20120215,North,Uttar Pradesh,Lucknow,1116.000,1,0.0,310.0
9999,113292109,M,20120217,West,Maharashtra,Mumbai,20120217,West,Maharashtra,Mumbai,1222.000,1,60.0,0.0

In [29]:
Duplicate_Values.shape

(27, 14)

In [30]:
# Q5) Create data set with list of customers whose customer value greater than 10000.

In [31]:
Customer_Value_Subset = Customers.loc[(Customers.Customer_Value >= 10000)]

In [32]:
Customer_Value_Subset

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed
14,1610085,F,20120103,North,Delhi,Delhi,20121013,North,Delhi,Delhi,10380.19900,6,1189.0,0.0
15,7518872,M,20120104,North,Uttar Pradesh,Kanpur,20130123,North,Uttar Pradesh,Kanpur,14587.00000,6,865.0,0.0
18,63508964,M,20120106,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,145472.70200,36,680.0,16635.0
19,23667984,F,20120107,West,Maharashtra,Nagpur,20130313,West,Maharashtra,Nagpur,19640.70000,12,268.0,2549.0
20,84634600,M,20120108,South,Karnataka,Bangalore,20130307,South,Karnataka,Bangalore,32377.60200,22,1029.0,1771.0
21,85207999,M,20120110,South,Andhra Pradesh,Visakhapatnam,20121229,South,Andhra Pradesh,Visakhapatnam,17202.40000,13,449.0,0.0
24,87030390,M,20120111,East,West Bengal,Kolkata,20130302,East,West Bengal,Kolkata,33047.00400,31,141.0,2214.0
26,12935950,M,20120113,West,Gujarat,Surat,20120623,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0
27,10954886,F,20120115,North,Madhya Pradesh,Indore,20130118,North,Madhya Pradesh,Indore,15426.39800,13,1672.0,0.0
29,7514232,M,20120114,North,Delhi,Delhi,20130108,North,Delhi,Delhi,51692.99900,29,4275.0,12.0
30,328670,M,20120115,North,Delhi,Delhi,20130302,North,Delhi,Delhi,10547.79600,11,574.0,2120.0
31,237645,M,20120117,North,Madhya Pradesh,Indore,20130318,North,Madhya Pradesh,Indore,173171.70000,34,12737.0,0.0
32,36292837,M,20120118,West,Gujarat,Surat,20130313,West,Gujarat,Surat,18412.20000,19,158.0,1260.0
35,73792250,M,20120128,West,Gujarat,Surat,20130305,West,Gujarat,Surat,29460.00000,6,2440.0,0.0
37,73957360,M,20120129,West,Gujarat,Surat,20130306,West,Gujarat,Surat,28291.29800,29,225.0,1886.0
38,8068420,F,20120131,North,Uttar Pradesh,Kanpur,20130224,South,Tamil Nadu,Chennai,11316.00100,6,684.0,267.0
39,3021033,M,20120131,South,Karnataka,Bangalore,20130218,South,Karnataka,Bangalore,48674.40100,6,244.0,2270.0
40,5912830,F,20120202,East,West Bengal,South Dumdum,20130318,East,Jharkhand,Dhanbad,15478.00000,9,1895.0,0.0
42,9046409,M,20120206,West,Maharashtra,Mumbai,20130327,West,Maharashtra,Mumbai,20520.80000,13,641.0,780.0
43,93630,M,20120208,West,Gujarat,Surat,20130202,West,Gujarat,Surat,11148.00000,7,960.0,0.0
44,85323066,F,20120208,West,Maharashtra,Mumbai,20130202,West,Maharashtra,Mumbai,41852.79800,16,1453.0,415.0
45,303753,M,20120208,North,Madhya Pradesh,Indore,20130321,North,Madhya Pradesh,Indore,54342.00000,32,2061.0,9320.0
46,49886011,F,20120208,West,Maharashtra,Mumbai,20120518,South,Karnataka,Bangalore,15092.80000,5,1381.0,0.0
50,85613515,M,20120213,West,Gujarat,Surat,20130312,West,Gujarat,Surat,37192.00100,13,1837.0,540.0
53,55802349,F,20120224,West,Gujarat,Ahmedabad,20130225,West,Gujarat,Ahmedabad,15695.50000,9,983.0,0.0
54,84874275,M,20120224,West,Maharashtra,Pimpri-Chinchwad,20130322,West,Maharashtra,Pimpri-Chinchwad,107078.39900,37,4083.0,0.0
55,6898330,F,20120227,West,Gujarat,Surat,20130308,West,Gujarat,Surat,20211.90000,17,1205.0,0.0
57,113932157,F,20120302,West,Gujarat,Surat,20130201,West,Gujarat,Surat,32085.69800,16,537.0,2401.0
58,1747708,F,20120303,South,Karnataka,Bangalore,20130324,North,Madhya Pradesh,Indore,18881.78574,14,588.0,2481.0
59,2780625,M,20120303,West,Gujarat,Surat,20130124,West,Gujarat,Surat,16471.90100,9,555.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9938,5686217,M,20120118,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.09900,11,915.0,0.0
9939,63669926,M,20120118,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0
9942,6005239,M,20120129,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0
9943,91066310,M,20120130,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0
9945,9144258,M,20120130,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0
9946,91076263,F,20120130,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0
9947,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0
9948,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0
9958,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0
9959,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0
9960,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0
9964,74054076,F,20120110,North,Uttar Pradesh,Kanpur,20121117,North,Uttar Pradesh,Kanpur,13485.10100,10,166.0,810.0
9966,63594593,M,20120112,East,West Bengal,Siliguri,20130204,East,West Bengal,Siliguri,10379.00000,4,495.0,0.0
9967,87998623,M,20120112,East,West Bengal,Durgapur,20130228,North,Uttar Pradesh,Kanpur,24378.00000,9,1506.0,0.0
9969,88068705,M,20120116,West,Gujarat,Surat,20120704,West,Gujarat,Surat,10996.00000,3,680.0,0.0
9970,5599557,F,20120115,West,Gujarat,Rajkot,20130330,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0
9971,7956527,F,20120115,North,Delhi,Delhi,20130222,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0
9973,88092811,M,20120116,West,Gujarat,Surat,20130222,West,Gujarat,Surat,14786.60000,12,337.0,300.0
9974,84750517,F,20120119,West,Gujarat,Surat,20130319,West,Gujarat,Surat,20696.90000,11,1935.0,0.0
9975,5686217,M,20120118,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.09900,11,915.0,0.0
9976,63669926,M,20120118,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0
9979,6005239,M,20120129,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0
9980,91066310,M,20120130,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0
9982,9144258,M,20120130,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0
9983,91076263,F,20120130,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0
9984,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0
9985,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0
9995,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0
9996,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0
9997,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0

In [33]:
Customer_Value_Subset.shape

(2723, 14)

In [3]:
# Q6) In customer table, create a new variable called “customer value segment” using customer value as follows.
#     - High Value Segment - > 25000
#     - Medium Value Segment – Between 10000 and 25000
#     - Low Value Segment – less than or equal to 10000

In [6]:
Customers['Customer_Value_Segment'] = ""
np.where(Customers.Customer_Value >= 25000)
Customers['Customer_Value_Segment'] = "High Value Segment"
np.where((Customers.Customer_Value > 10000)&(Customers.Customer_Value < 25000))
Customers['Customer_Value_Segment'] = "Medium Value Segment"
np.where(Customers.Customer_Value <= 10000)
Customers['Customer_Value_Segment'] = "Low Value Segment"

In [7]:
Customers

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed,Customer_Value_Segment
0,129609144,M,20130130,West,Gujarat,Surat,20130216,West,Gujarat,Surat,2032.00000,2,200.0,0.0,Low Value Segment
1,129627580,M,20130129,North,Delhi,Delhi,20130129,North,Delhi,Delhi,1709.00000,1,100.0,0.0,Low Value Segment
2,130363481,M,20130221,West,Gujarat,Surat,20130221,West,Gujarat,Surat,523.00000,1,10.0,0.0,Low Value Segment
3,49817480,M,20130222,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,5132.00000,1,170.0,0.0,Low Value Segment
4,126343829,F,20130301,North,Delhi,Delhi,20130301,North,Delhi,Delhi,1008.00000,1,60.0,0.0,Low Value Segment
5,8223758,F,20130314,West,Gujarat,Surat,20130314,West,Gujarat,Surat,2606.90000,1,1140.0,0.0,Low Value Segment
6,131816709,M,20130318,South,Andhra Pradesh,Visakhapatnam,20130318,South,Andhra Pradesh,Visakhapatnam,1369.00000,1,79.0,0.0,Low Value Segment
7,118543320,F,20130321,North,Uttar Pradesh,Kanpur,20130321,North,Uttar Pradesh,Kanpur,5690.00000,1,360.0,0.0,Low Value Segment
8,131365512,M,20130323,East,West Bengal,Kolkata,20130331,East,West Bengal,Kolkata,2555.00000,2,190.0,0.0,Low Value Segment
9,758571,M,20130324,South,Karnataka,Bangalore,20130325,West,Maharashtra,Thane,2677.80000,3,145.0,0.0,Low Value Segment
10,85489184,M,20120101,West,Maharashtra,Nagpur,20120101,West,Maharashtra,Nagpur,855.00000,1,35.0,0.0,Low Value Segment
11,85438231,M,20120103,West,Maharashtra,Mumbai,20121111,East,West Bengal,Bhatpara,5969.00000,5,294.0,0.0,Low Value Segment
12,74053888,F,20120102,West,Gujarat,Surat,20130314,West,Gujarat,Surat,9142.49700,10,639.0,2.0,Low Value Segment
13,7256956,M,20120102,North,Rajasthan,Jaipur,20121126,North,Rajasthan,Jaipur,8019.60000,5,609.0,0.0,Low Value Segment
14,1610085,F,20120103,North,Delhi,Delhi,20121013,North,Delhi,Delhi,10380.19900,6,1189.0,0.0,Low Value Segment
15,7518872,M,20120104,North,Uttar Pradesh,Kanpur,20130123,North,Uttar Pradesh,Kanpur,14587.00000,6,865.0,0.0,Low Value Segment
16,8638553,M,20120103,West,Gujarat,Ahmedabad,20120103,West,Gujarat,Ahmedabad,1011.00000,1,115.0,0.0,Low Value Segment
17,85438392,M,20120103,West,Gujarat,Ahmedabad,20130212,South,Telangana,Hyderabad,6065.30000,5,485.0,0.0,Low Value Segment
18,63508964,M,20120106,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,145472.70200,36,680.0,16635.0,Low Value Segment
19,23667984,F,20120107,West,Maharashtra,Nagpur,20130313,West,Maharashtra,Nagpur,19640.70000,12,268.0,2549.0,Low Value Segment
20,84634600,M,20120108,South,Karnataka,Bangalore,20130307,South,Karnataka,Bangalore,32377.60200,22,1029.0,1771.0,Low Value Segment
21,85207999,M,20120110,South,Andhra Pradesh,Visakhapatnam,20121229,South,Andhra Pradesh,Visakhapatnam,17202.40000,13,449.0,0.0,Low Value Segment
22,86066230,M,20120111,West,Gujarat,Vadodara,20120111,West,Gujarat,Vadodara,900.50000,1,100.0,0.0,Low Value Segment
23,6888521,M,20120112,West,Maharashtra,Thane,20121210,West,Maharashtra,Pimpri-Chinchwad,4588.99900,4,190.0,0.0,Low Value Segment
24,87030390,M,20120111,East,West Bengal,Kolkata,20130302,East,West Bengal,Kolkata,33047.00400,31,141.0,2214.0,Low Value Segment
25,85645488,M,20120111,North,Madhya Pradesh,Bhopal,20120111,North,Madhya Pradesh,Bhopal,878.00000,1,80.0,0.0,Low Value Segment
26,12935950,M,20120113,West,Gujarat,Surat,20120623,West,Gujarat,Ahmedabad,18358.00000,6,874.0,0.0,Low Value Segment
27,10954886,F,20120115,North,Madhya Pradesh,Indore,20130118,North,Madhya Pradesh,Indore,15426.39800,13,1672.0,0.0,Low Value Segment
28,84437746,M,20120115,East,West Bengal,Kolkata,20130222,South,Karnataka,Bangalore,5415.00100,6,736.0,0.0,Low Value Segment
29,7514232,M,20120114,North,Delhi,Delhi,20130108,North,Delhi,Delhi,51692.99900,29,4275.0,12.0,Low Value Segment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,5599557,F,20120115,West,Gujarat,Rajkot,20130330,West,Gujarat,Rajkot,74662.77636,36,22.0,10472.0,Low Value Segment
9971,7956527,F,20120115,North,Delhi,Delhi,20130222,North,Delhi,Delhi,66082.19900,37,2385.0,13520.0,Low Value Segment
9972,10184222,M,20120116,North,Uttar Pradesh,Kanpur,20121014,North,Uttar Pradesh,Kanpur,2031.00100,2,215.0,0.0,Low Value Segment
9973,88092811,M,20120116,West,Gujarat,Surat,20130222,West,Gujarat,Surat,14786.60000,12,337.0,300.0,Low Value Segment
9974,84750517,F,20120119,West,Gujarat,Surat,20130319,West,Gujarat,Surat,20696.90000,11,1935.0,0.0,Low Value Segment
9975,5686217,M,20120118,West,Maharashtra,Thane,20120524,West,Gujarat,Surat,16858.09900,11,915.0,0.0,Low Value Segment
9976,63669926,M,20120118,South,Telangana,Hyderabad,20130114,South,Telangana,Hyderabad,12863.00000,4,1030.0,0.0,Low Value Segment
9977,90964885,M,20120121,West,Gujarat,Surat,20120121,West,Gujarat,Surat,198.00000,1,0.0,0.0,Low Value Segment
9978,87989417,M,20120127,West,Gujarat,Surat,20120127,West,Gujarat,Surat,929.99900,1,50.0,0.0,Low Value Segment
9979,6005239,M,20120129,East,West Bengal,Kolkata,20121127,South,Telangana,Hyderabad,12246.80000,6,600.0,0.0,Low Value Segment
9980,91066310,M,20120130,West,Gujarat,Surat,20130312,West,Gujarat,Surat,11723.00000,10,475.0,0.0,Low Value Segment
9981,414338,M,20120131,West,Gujarat,Surat,20120131,West,Gujarat,Surat,1080.00000,1,0.0,0.0,Low Value Segment
9982,9144258,M,20120130,South,Tamil Nadu,Chennai,20130313,West,Maharashtra,Mumbai,42195.09900,23,4441.0,0.0,Low Value Segment
9983,91076263,F,20120130,East,West Bengal,Kolkata,20130310,East,West Bengal,Kolkata,34492.90100,14,1591.0,0.0,Low Value Segment
9984,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.30000,9,1555.0,0.0,Low Value Segment
9985,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.50000,23,4317.0,0.0,Low Value Segment
9986,69453769,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,480.00000,1,10.0,580.0,Low Value Segment
9987,7060195,M,20120202,West,Gujarat,Ahmedabad,20130328,West,Gujarat,Ahmedabad,6693.20000,3,645.0,0.0,Low Value Segment
9988,91095093,M,20120201,South,Telangana,Hyderabad,20120201,South,Telangana,Hyderabad,825.99700,1,55.0,0.0,Low Value Segment
9989,91098168,M,20120201,South,Tamil Nadu,Chennai,20120201,South,Tamil Nadu,Chennai,408.00000,1,0.0,0.0,Low Value Segment
9990,91227615,M,20120203,West,Gujarat,Surat,20120203,West,Gujarat,Surat,617.00000,1,35.0,0.0,Low Value Segment
9991,91136028,M,20120203,West,Maharashtra,Mumbai,20120523,South,Karnataka,Bangalore,4383.80100,5,10.0,370.0,Low Value Segment
9992,794622,F,20120203,West,Gujarat,Surat,20120508,West,Gujarat,Surat,8081.00000,4,594.0,0.0,Low Value Segment
9993,91289992,M,20120205,West,Maharashtra,Pimpri-Chinchwad,20120205,West,Maharashtra,Pimpri-Chinchwad,1069.00000,1,81.0,0.0,Low Value Segment
9994,73876936,M,20120205,West,Gujarat,Surat,20130218,West,Gujarat,Surat,8059.59900,5,647.0,0.0,Low Value Segment
9995,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.60000,7,1195.0,1800.0,Low Value Segment
9996,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.50000,7,870.0,0.0,Low Value Segment
9997,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.90000,11,2242.0,585.0,Low Value Segment
9998,69606859,M,20120215,North,Uttar Pradesh,Lucknow,20120215,North,Uttar Pradesh,Lucknow,1116.00000,1,0.0,310.0,Low Value Segment
9999,113292109,M,20120217,West,Maharashtra,Mumbai,20120217,West,Maharashtra,Mumbai,1222.00000,1,60.0,0.0,Low Value Segment

In [4]:
# Q7) Create variables “average revenue per trip” and “balance points” in the customer data set.

In [6]:
Customers["Average_Revenue_Per_Trip"] = ""

In [7]:
Customers["Balance_Points"] = ""

In [10]:
Customers.shape

(10000, 16)

In [11]:
# Q8) How many days between last purchase date and today?

In [13]:
import datetime as dt

In [15]:
today = pd.to_datetime(dt.datetime.now().date())

In [18]:
today

Timestamp('2018-05-02 00:00:00')

In [20]:
Days = today - pd.to_datetime(Customers.Recent_Date,format= '%Y%m%d')

In [22]:
Days

0      1901 days
1      1919 days
2      1896 days
3      1895 days
4      1888 days
5      1875 days
6      1871 days
7      1868 days
8      1858 days
9      1864 days
10     2313 days
11     1998 days
12     1875 days
13     1983 days
14     2027 days
15     1925 days
16     2311 days
17     1905 days
18     1895 days
19     1876 days
20     1882 days
21     1950 days
22     2303 days
23     1969 days
24     1887 days
25     2303 days
26     2139 days
27     1930 days
28     1895 days
29     1940 days
          ...
9970   1859 days
9971   1895 days
9972   2026 days
9973   1895 days
9974   1870 days
9975   2169 days
9976   1934 days
9977   2293 days
9978   2287 days
9979   1982 days
9980   1877 days
9981   2283 days
9982   1876 days
9983   1879 days
9984   1879 days
9985   1968 days
9986   2282 days
9987   1861 days
9988   2282 days
9989   2282 days
9990   2280 days
9991   2170 days
9992   2185 days
9993   2278 days
9994   1899 days
9995   1995 days
9996   1870 days
9997   1901 days
9998   2268 days
9999   2266 days
Name: Recent_Date, Length: 10000, dtype: timedelta64[ns]

In [ ]:
# Q9) Calculate percentage of sales by each last city, state and region.

In [69]:
Group = Customers.groupby(['Last_state','Last_city','Last_region'])

In [70]:
Percentage_of_sales = Group['Customer_Value'].sum() * 100/Customers['Customer_Value'].sum()

In [71]:
Percentage_of_sales

Last_state         Last_city        Last_region
Andhra Pradesh     Guntur           South           0.000000
                   Kurnool          South           0.002491
                   Tirupati         South           0.014800
                   Vijayawada       South           0.394730
                   Visakhapatnam    South           1.042271
                   Vizianagaram     South           0.018434
Assam              Guwahati         East            1.557344
Bihar              Begusarai        East            0.020559
                   Bhagalpur        East            0.002230
                   Katihar          East            0.046883
                   Patna            East            0.185101
                   Purnia           East            0.005867
Chandigarh         Chandigarh       North           0.032769
Chhattisgarh       Korba            North           0.002229
                   Raipur           North           0.003093
Delhi              Delhi            North           8.581290
                   Karawal Nagar    North           0.007829
                   New Delhi        North           0.002128
Gujarat            Ahmedabad        West            6.063446
                   Gandhidham       West            0.001671
                   Jamnagar         West            0.070837
                   Rajkot           West            3.641762
                   Surat            West           24.816565
                   Vadodara         West            2.985721
Haryana            Gurgaon          North           0.126261
                   Karnal           North           0.002138
                   Sonipat          North           0.013100
Jammu and Kashmir  Srinagar         North           0.004879
Jharkhand          Dhanbad          East            0.197452
                   Jamshedpur       East            0.002848
                                                     ...
Uttar Pradesh      Aligarh          North           0.025499
                   Allahabad        North           0.004467
                   Bareilly         North           0.028149
                   Etawah           North           0.008650
                   Firozabad        North           0.049306
                   Ghaziabad        North           0.226847
                   Gorakhpur        North           0.018140
                   Kanpur           North           7.585686
                   Loni             North           0.041379
                   Lucknow          North           1.848145
                   Mathura          North           0.079833
                   Mau              North           0.005739
                   Meerut           North           0.032317
                   Mirzapur         North           0.003905
                   Muzaffarnagar    North           0.008926
                   Noida            North           0.006583
                   Rampur           North           0.007939
                   Saharanpur       North           0.045483
Uttarakhand        Dehradun         North           0.001228
                   Haridwar         North           0.022618
West Bengal        Asansol          East            0.003035
                   Baranagar        East            0.015954
                   Barasat          East            0.004028
                   Bhatpara         East            0.063541
                   Howrah           East            0.017803
                   Kolkata          East            5.573430
                   North Dumdum     East            0.022836
                   Panihati         East            0.005539
                   Rajpur Sonarpur  East            0.001733
                   Siliguri         East            0.008303
Name: Customer_Value, Length: 116, dtype: float64

In [33]:
# Q10) What is the count of customers, average number of purchases and average purchase transaction value by last state and city.

In [34]:
Output = Customers.groupby(['Last_state','Last_city'])

In [35]:
# Count of customers
Count_of_customers = Output ['Customer_ID'].count()

In [37]:
Count_of_customers

Last_state         Last_city
Andhra Pradesh     Guntur                1
                   Kurnool               1
                   Tirupati              2
                   Vijayawada           20
                   Visakhapatnam       117
                   Vizianagaram          1
Assam              Guwahati             30
Bihar              Begusarai             1
                   Bhagalpur             1
                   Katihar               2
                   Patna                20
                   Purnia                1
Chandigarh         Chandigarh            6
Chhattisgarh       Korba                 1
                   Raipur                1
Delhi              Delhi              1034
                   Karawal Nagar         2
                   New Delhi             1
Gujarat            Ahmedabad           621
                   Gandhidham            1
                   Jamnagar              6
                   Rajkot              235
                   Surat              2127
                   Vadodara            388
Haryana            Gurgaon               1
                   Karnal                1
                   Sonipat               1
Jammu and Kashmir  Srinagar              1
Jharkhand          Dhanbad              18
                   Jamshedpur            1
                                      ...
Uttar Pradesh      Aligarh               9
                   Allahabad             2
                   Bareilly              3
                   Etawah                1
                   Firozabad             4
                   Ghaziabad            27
                   Gorakhpur             4
                   Kanpur              854
                   Loni                 10
                   Lucknow             219
                   Mathura               6
                   Mau                   1
                   Meerut                7
                   Mirzapur              1
                   Muzaffarnagar         2
                   Noida                 1
                   Rampur                1
                   Saharanpur            2
Uttarakhand        Dehradun              1
                   Haridwar              1
West Bengal        Asansol               1
                   Baranagar             2
                   Barasat               1
                   Bhatpara              4
                   Howrah                3
                   Kolkata             543
                   North Dumdum          3
                   Panihati              1
                   Rajpur Sonarpur       2
                   Siliguri              1
Name: Customer_ID, Length: 116, dtype: int64

In [48]:
# Average number of purchases
No_of_Rows = Customers.shape[0]

In [49]:
No_of_Rows

10000

In [50]:
Average_no_purchases = Count_of_customers/No_of_Rows

In [51]:
Average_no_purchases

Last_state         Last_city
Andhra Pradesh     Guntur             0.0001
                   Kurnool            0.0001
                   Tirupati           0.0002
                   Vijayawada         0.0020
                   Visakhapatnam      0.0117
                   Vizianagaram       0.0001
Assam              Guwahati           0.0030
Bihar              Begusarai          0.0001
                   Bhagalpur          0.0001
                   Katihar            0.0002
                   Patna              0.0020
                   Purnia             0.0001
Chandigarh         Chandigarh         0.0006
Chhattisgarh       Korba              0.0001
                   Raipur             0.0001
Delhi              Delhi              0.1034
                   Karawal Nagar      0.0002
                   New Delhi          0.0001
Gujarat            Ahmedabad          0.0621
                   Gandhidham         0.0001
                   Jamnagar           0.0006
                   Rajkot             0.0235
                   Surat              0.2127
                   Vadodara           0.0388
Haryana            Gurgaon            0.0001
                   Karnal             0.0001
                   Sonipat            0.0001
Jammu and Kashmir  Srinagar           0.0001
Jharkhand          Dhanbad            0.0018
                   Jamshedpur         0.0001
                                       ...
Uttar Pradesh      Aligarh            0.0009
                   Allahabad          0.0002
                   Bareilly           0.0003
                   Etawah             0.0001
                   Firozabad          0.0004
                   Ghaziabad          0.0027
                   Gorakhpur          0.0004
                   Kanpur             0.0854
                   Loni               0.0010
                   Lucknow            0.0219
                   Mathura            0.0006
                   Mau                0.0001
                   Meerut             0.0007
                   Mirzapur           0.0001
                   Muzaffarnagar      0.0002
                   Noida              0.0001
                   Rampur             0.0001
                   Saharanpur         0.0002
Uttarakhand        Dehradun           0.0001
                   Haridwar           0.0001
West Bengal        Asansol            0.0001
                   Baranagar          0.0002
                   Barasat            0.0001
                   Bhatpara           0.0004
                   Howrah             0.0003
                   Kolkata            0.0543
                   North Dumdum       0.0003
                   Panihati           0.0001
                   Rajpur Sonarpur    0.0002
                   Siliguri           0.0001
Name: Customer_ID, Length: 116, dtype: float64

In [53]:
# Average purchase transaction
Average_Purchase_Transaction = Output['Customer_Value'].sum()/No_of_Rows

In [56]:
Average_Purchase_Transaction

Last_state         Last_city
Andhra Pradesh     Guntur                0.000000
                   Kurnool               0.311350
                   Tirupati              1.850000
                   Vijayawada           49.340200
                   Visakhapatnam       130.281112
                   Vizianagaram          2.304260
Assam              Guwahati            194.663881
Bihar              Begusarai             2.569800
                   Bhagalpur             0.278780
                   Katihar               5.860230
                   Patna                23.137130
                   Purnia                0.733400
Chandigarh         Chandigarh            4.095980
Chhattisgarh       Korba                 0.278640
                   Raipur                0.386600
Delhi              Delhi              1072.638348
                   Karawal Nagar         0.978660
                   New Delhi             0.266000
Gujarat            Ahmedabad           757.914523
                   Gandhidham            0.208900
                   Jamnagar              8.854460
                   Rajkot              455.210512
                   Surat              3102.004228
                   Vadodara            373.207104
Haryana            Gurgaon              15.782250
                   Karnal                0.267200
                   Sonipat               1.637500
Jammu and Kashmir  Srinagar              0.609900
Jharkhand          Dhanbad              24.681020
                   Jamshedpur            0.356000
                                         ...
Uttar Pradesh      Aligarh               3.187300
                   Allahabad             0.558390
                   Bareilly              3.518500
                   Etawah                1.081200
                   Firozabad             6.163070
                   Ghaziabad            28.355310
                   Gorakhpur             2.267480
                   Kanpur              948.190420
                   Loni                  5.172280
                   Lucknow             231.013185
                   Mathura               9.978889
                   Mau                   0.717420
                   Meerut                4.039560
                   Mirzapur              0.488100
                   Muzaffarnagar         1.115720
                   Noida                 0.822860
                   Rampur                0.992380
                   Saharanpur            5.685250
Uttarakhand        Dehradun              0.153500
                   Haridwar              2.827160
West Bengal        Asansol               0.379400
                   Baranagar             1.994190
                   Barasat               0.503490
                   Bhatpara              7.942400
                   Howrah                2.225290
                   Kolkata             696.663781
                   North Dumdum          2.854420
                   Panihati              0.692300
                   Rajpur Sonarpur       0.216600
                   Siliguri              1.037900
Name: Customer_Value, Length: 116, dtype: float64